<nav class="header">
    <div class="row">
        <div class="col-sm  d-none d-sm-block">
            <p style="width: 235px; padding: 24px; font-size: 20px; line-height: normal;">
                123 Main Street
                Vernon Hills, Illinois
                (847) 804-9037
            </p>
        </div>
        <div class="col-sm">
            <img class="ochoas-header-text" src="../assets/Ochoa's Mexican Grill.png" alt="">
        </div>
        <div class="col-sm d-none d-sm-block">
            <div class="social-media-icons">
                <a href="https://www.yelp.com/biz/ochoas-mexican-grill-deerfield-3?start=40" target="_blank">
                    <img class="social-media-logo" src="../assets/yelp-rating.png" alt="">
                </a>
                <a href="https://www.facebook.com/Ochoasmexicangrill/" target="_blank">
                    <img class="social-media-logo" src="../assets/facebook.png" alt="">
                </a>
            </div>
        </div>
    </div>
</nav>