<nav class="header">
    <div class="row">
        <div class="col-sm  d-none d-sm-block">
            <p style="width: 270px; padding: 24px; font-size: 20px; line-height: normal;">
                20586 N Milwaukee Ave
                Deerfield, IL 60015
                <a href="tel:1-224-676-0295">(224) 676-0295</a>
            </p>
        </div>
        <div class="col-sm">
            <img class="ochoas-header-text" src="../assets/Ochoa's Mexican Grill.png" alt="">
            <div class="d-block d-sm-none">
                <p class="" style="text-align:center">
                    20586 N Milwaukee Ave
                    Deerfield, IL 60015
                    <br> <a href="tel:1-224-676-0295">(224) 676-0295</a>
                </p>
                <div style="background: #bb3029; text-align: center; padding: 5px;">
                    <ul class="social">
                        <li>
                            <a href="https://twitter.com/" title="">
                                <span class="icon fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.yelp.com/biz/ochoas-mexican-grill-deerfield-3?start=40" title="">
                                <span class="icon fa fa-yelp"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Ochoasmexicangrill/" title="">
                                <span class="icon fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/search?q=ochoas+mexican+grill&rlz=1C5CHFA_enUS883US883&oq=ochoas+me&aqs=chrome.0.69i59j0j69i57j0l2j69i60l3.1602j0j4&sourceid=chrome&ie=UTF-8"
                                title="">
                                <span class="icon fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-sm d-none d-sm-block">
            <div class="social-media-icons">
                <a href="https://www.yelp.com/biz/ochoas-mexican-grill-deerfield-3?start=40" target="_blank">
                    <img class="social-media-logo" src="../assets/yelp-rating.png" alt="">
                </a>
                <a href="https://www.facebook.com/Ochoasmexicangrill/" target="_blank">
                    <img class="social-media-logo" src="../assets/facebook.png" alt="">
                </a>
            </div>
        </div>
    </div>
</nav>