.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  opacity: .6;
  text-align: center;
  overflow: hidden;

    .social-media-icon {
        font-size: 25px;
        padding-right: 20px;
      }

    .social-media-logo {
        height: 100px;
        width: auto;
    }
}