:host {
  padding: 0 0 0 0;
  
  h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  .menu-container {
    margin: auto;
    width: 90%;

    .menu-section-container {
      margin-bottom: 5px;
    }

    .menu-section-header {
      height: 100px !important;
    }
  }

table {
  width: 100%;
}

  td {
    font-size: 20px;
    overflow: hidden;
    position: relative;
}

  td:not(:last-child):after {
    content: '.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    position: absolute;
  }
  // td:last-child:before {
  //   content: '.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
  //   position: absolute;
  // }
}